@import '../styles/variables';
@import '../styles/normalize';

body{
    font-family: sans-serif;
}

.swiper-container {
    width: 1088px;
    height: 612px;
    text-align: center;
    .swiper-wrapper{
        align-items: center;
    }
}

.swiper-pagination-bullet{
    background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
    opacity: 0.4;
    transition: all ease .5s;

    &-active{
        border-radius: 6px;
        width: 116px;
        opacity: 1;
    }
}



.person-slide{
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    transition: all ease .5s;
    width: 192px;
    height: 256px;

    &.swiper-slide-active{
        width: 416px !important;
        height: 260px !important;
    }

    &.swiper-slide-prev,
    &.swiper-slide-next{
        width: 304px !important;
        height: 200px !important;
    }

    .person-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .person-info{
        position: absolute;
        bottom: 0;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0) 100%);
    }
}