@import '../styles/variables';
@import '../styles/normalize';

body{
    font-family: sans-serif;
}

.swiper-container {
    width: 100%;
    height: 612px;
}

.swiper-pagination-bullet{
    background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
    opacity: 0.4;
    transition: all ease .5s;

    &-active{
        border-radius: 6px;
        width: 116px;
        opacity: 1;
    }
}